@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  padding-top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('images/fish.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


main {
  /* Reset e Box Model */
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
  overflow-y: auto;

  /* Fundo */
  background: whitesmoke;
}
